body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  margin: 10px auto;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
/* End General */

/* Start Navbar */
nav ul {
  background-color: #34495e;
  display: flex;
  justify-content: center;
}
nav ul > li {
  text-transform: capitalize;
  padding: 15px;
  display: inline-block;
  transition: all 0.3s ease;
  /* margin-left: -5px; */
}
nav ul > li:not(:last-of-type):hover {
  background-color: #7f8c8d;
}

/* End Navbar */

/* Start Menue Right */
nav ul > li:last-of-type {
  position: relative;
  display: none;
}
nav ul > ol {
  position: absolute;
  top: 49px;
  right: 0;
  background: #333;
  text-align: center;
  list-style: none;
  display: none;
}
nav ul > ol > li {
  width: 100vw;
  color: #fff;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s ease;
}
nav ul > ol > li:hover a {
  margin: 20px;
}
nav ul > ol > li:hover {
  background: #000;
  cursor: pointer;
}

#images div {
  margin: 20px 0px;
}

#images div img {
  display: block;
  width: 50%;
  height: 600px;
  margin: auto;
}

#images div h4 {
  text-align: center;
}

/* Start Media Query */

/* End Media Query */

th {
  background-color: #34495e;
  color: #ffffff;
}
td,
th {
  text-transform: capitalize;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

h1,
h2 {
  text-transform: capitalize;
}

h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 20px;
}

ol li {
  padding: 8px;
}

p span {
  font-weight: bold;
  padding: 10px;
}

p a {
  color: #34495e;
  font-weight: bold;
  transition: all ease 0.3s;
}

p a:hover {
  color: #000;
  font-size: 18px;
}
p a:visited {
  color: #7f8c8d;
}

@media screen and (max-width: 680px) {
  nav ul {
    margin: 0px;
    padding: 0px;
  }
  nav ul > li {
    padding: 10px 5px;
  }

  #images div img {
    display: block;
    width: 80%;
    height: initial;
    margin: auto;
  }
}
